{% extends 'core/base.html'%}

{% block titulo %}

{%endblock titulo%}

{%block contenido%}
<h1 class="fs-1 text-center mt-4">
    Formulario de Planetas
</h1>
<div class="contenedor">
    <div class="main">
        <div class="login">
            <form action="" method="post" class="">
                {% csrf_token %}
                <table>
                    {{form.as_p}}
                </table>
        
                <button type="submit"> Guardar </button>
            </form>
        
            <div class="fs-3 ">
                <a href="{% url 'planeta:home' %}" class="btn btn-secondary btn-form">Volver</a>
            </div>
        </div>
    </div>
</div>

{%endblock contenido%}
