{% extends 'core/base.html' %}

{% block titulo %}
<h1 class="fs-3">Planetas</h1>
{% endblock titulo %}

{% block contenido %}
<div class="py-lg-4">
    <form action="" method="get">  
        <input type="text" name="consulta" placeholder="Buscar📡" value="{{ request.GET.consulta }}"> <!-- Mantiene el valor del campo de búsqueda -->
        <button type="submit">Buscar</button>
    </form>
</div>
<div class="row">
    {% for planeta in object_list %}
        <div class="col-lg-6 mb-3"> 
            <div class="card text-bg-primary">
                <div class="card-header">
                    <h2>{{ planeta.nombre }}</h2>
                    <p>{{ planeta.descripcion }}</p>
                </div>
                <div class="card-body">
                    <li class="list-group-item">
                        <a href="{% url 'planeta:planeta_detail' planeta.id %}" class="link-light ">Detalle</a>
                        {%if user.is_superuser%}
                            <a href="{% url 'planeta:planeta_update' planeta.id %}">🛠</a>
                            <a href="{% url 'planeta:planeta_delete' planeta.id %}">🗑</a>
                        {%endif%}
                    </li>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="fs-3 ">
    <a href="{% url 'planeta:home' %}">Volver</a>
</div>
{% endblock contenido %}
