{% extends 'core/base.html' %}

{% block titulo %}

{%endblock%}

{%block contenido%}
<h1 class="fs-1 text-center mt-4">
  Editar Perfil
</h1>
<div class="contenedor">
  <div class="main">
    <div class="login">
      <form class="mb-4" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}    
            <button type="submit" class="btn  btn-form">Aplicar cambios</button>
            <a href="{% url 'core:home' %}" class="btn btn-secondary btn-form">Cancelar</a>
      </form>
    </div>
  </div>
</div>

{%endblock%}