{% extends 'core/base.html' %}
{% block titulo %}

{% endblock titulo %}
{% block contenido %}
<h1 class="fs-1 text-center mt-4">
    Detalles de la nave
</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <ul class="list-group">
                <li class="list-group-item">Nombre: {{object.nombre}}</li>
                <li class="list-group-item">Descripcion: {{object.descripcion}}</li>
            </ul>
            <div class="mt-4">
                <a href="{% url 'naves:naves_list' %}" class="btn btn-primary ">Volver</a>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}
