{% extends 'core/base.html'%}

{% block titulo %}
    Creación de Personaje
{% endblock titulo %}

{% block contenido %}
    <form action="" method="post" class="d-block ">
        {% csrf_token %}
        <table>
            {{ form.nombre.label_tag }}
            {{ form.nombre }}
            <br>
            {{ form.apellido.label_tag }}
            {{ form.apellido }}
            <br>
            {{ form.nacimiento.label_tag }}
            {{ form.nacimiento }}
            <br>
            {% if form.planeta_origen_id.field.queryset %}
                {{ form.planeta_origen_id.label_tag }}
                {{ form.planeta_origen_id }}
            {% else %}
                <p>No hay planetas disponibles.</p>
            {% endif %}
        </table>
        <button type="submit"> Guardar </button>
    </form>
{% endblock contenido %}
