{% load static %}

<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">                   
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static 'core/assets/img/portfolio/fullsize/1.png' %}" title="Project Name">
                    <img class="img-fluid" src="{% static 'core/assets/img/portfolio/fullsize/1.png' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Star Wars</div>
                        <div class="project-name">La amenaza Fantasma</div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static 'core/assets/img/portfolio/fullsize/2.png' %}" title="Project Name">
                    <img class="img-fluid" src="{% static 'core/assets/img/portfolio/fullsize/2.png' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Star Wars</div>
                        <div class="project-name">El ataque de los clones</div>
                    </div>
                </a>
            </div>


            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static 'core/assets/img/portfolio/fullsize/3.png' %}" title="Project Name">
                    <img class="img-fluid" src="{% static 'core/assets/img/portfolio/fullsize/3.png' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Star Wars</div>
                        <div class="project-name">La venganza de los siths</div>
                    </div>
                </a>
            </div>


            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static 'core/assets/img/portfolio/fullsize/4.png' %}" title="Project Name">
                    <img class="img-fluid" src="{% static 'core/assets/img/portfolio/fullsize/4.png' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Star Wars</div>
                        <div class="project-name">Una nueva esperanza</div>
                    </div>
                </a>
            </div>



            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static 'core/assets/img/portfolio/fullsize/5.png' %}" title="Project Name">
                    <img class="img-fluid" src="{% static 'core/assets/img/portfolio/fullsize/5.png' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Star Wars</div>
                        <div class="project-name">El imperio contraataca</div>
                    </div>
                </a>
            </div>


            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static 'core/assets/img/portfolio/fullsize/6.jpg' %}" title="Project Name">
                    <img class="img-fluid" src="{% static 'core/assets/img/portfolio/fullsize/6.jpg' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Star Wars</div>
                        <div class="project-name">El regreso del Jedi</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

